.car-landing {
    margin:2rem;
}
.car-brand {
    background-color: #efecf2;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.car-brand .head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25rem;
    align-items: center;
    margin-bottom: 2rem;
}
.car-brand .title {
    width: 313px;
    height: 38px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.car-brand .icon {
    /* 🦆 icon "dollar circle" */
    width: 29px;
    height: 29px;
}
.car-brand .price {
width: 104px;
height: 29px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.car-brand .landing {
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 2rem;
margin-bottom: 2rem;
}
.car-brand .landing .imge {
    width: fit-content;
    height: fit-content;
}
.car-brand .landing .info {
    width: 50%;
}
.car-brand .car-show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    flex-wrap: wrap;
    gap: 40px;
}
@media  (max-width:1115px){
    .car-brand .landing .imge img {
        width: 450px;
        height: 350px;
    }
    .car-brand .head {
        gap: 14rem;
    }
}
@media  (max-width:1115px){
    .car-brand .landing {
        flex-direction: column-reverse;
        align-items: center;
    }
    .car-brand .car-show {
        justify-content: center;
    }
    .car-brand .landing .info {
        width: 75%;
    }
}
@media  (max-width:920px) {
        .car-brand .head {
        gap: 7rem;
    }
}
@media  (max-width:690px) {
    .car-brand .icon {
        display: none;
    }
    .car-brand .price {
        font-size: 17px;
    }
    .car-brand .title {
        font-size: 20px;
    }
    .car-landing {
        margin: 0;
    }
    .car-brand {
        margin: 1rem 0 1rem 0;
        padding: 1rem;
    }
        .car-brand .landing .imge img {
        width: 300px;
        height: 300px;
    }
        .car-brand .landing .info {
        width: 100%;
    }
}