.card-info {
    /* Main */
display: flex;
flex-direction: column;
gap: 10px;
width: 300px;
background: #ffff;
border-radius: 5%;
transition: 0.5s;
padding: 10px ;
cursor: pointer;
}
.card-info .title {
    /* top */
    font-size: 20px;
    font-weight: 600;
}
.card-info .img  img {
width: 270px;
height: 100px;
left: 20px;
top: 70px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.card-info .info {
    /* BMW X1 */
width: 77px;
height: 24px;
left: 27px;
top: 174px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000000;
}
.card-info .price {
/* bottom */
color: #abaaad;

}
.card-info:hover {
    /* width: ; */
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.4));
    transform: translateZ(200px);
    transform: translateY(-20px);
}
